<header>
    <div class="bg-black border-b border-gray-200">
        <div class="flex justify-end space-x-10 py-2 px-4">
            <a href="#" title="" class="text-base font-medium text-gray-200"> SEARCH </a>
            <a href="#" title="" class="text-base font-medium text-gray-200"> LOGIN </a>
        </div>
        <div class="px-4 mx-auto px-8">
            <nav class="relative flex items-center justify-center h-16 lg:h-20">
                <div class="flex items-center space-x-10">
                    <a routerLink="/home" title="Home" class="text-base font-medium text-gray-400" (click)="showHome()">
                        HOME </a>
                    <a routerLink="/starships" title="Starships" class="text-base font-medium text-gray-400"
                        (click)="showStarships()"> STARSHIPS </a>
                </div>
            </nav>
        </div>
    </div>
</header>