.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto; 
    padding: 10px;
}

.pilot-image {
    max-width: 100%;
    height: auto;
}