<div class="pilots-container">
    <div class="pilots-bg my-5">
        <h2 class="pilot-title">Pilots</h2>
        <div class="pilot-details">
            @if(pilots.length === 0){<div class="loading-text">
                <div>No pilots known</div>
            </div>}
            @else{
            @for(pilot of pilotDetails; track pilot){
            <div class="column">
                <div class="pilot-card p-2">
                    <app-pilot-img [pilotId]="extractId(pilot.url)" />
                    <div><strong>{{pilot.name}}</strong></div>
                    <div>Date of birth: <strong>{{pilot.birth_year}}</strong></div>
                    <div>{{pilot.gender}}</div>
                </div>
            </div>
            }
            }
        </div>
    </div>
</div>