.pilots-container {
    display: flex;
    justify-content: center;
    min-height: 50vh;
}

.pilots-bg {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid var(--border-color);
    padding: 20px;
    width: 90%;
    max-width: 900px;
    box-shadow: 0px 0px 15px var(--border-color);
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pilot-card{
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    text-align: center;
}

.pilot-card strong {
    color: var(--border-color);
}

.pilot-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--border-color);
    text-shadow: 2px 2px 10px var(--border-color);
    margin-bottom: 15px;
}

.pilot-details {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.column {
    width: 50%;
    text-align: left;
    font-size: 1rem;
    //display: flex;
}

.loading-text {
    font-size: 1.2rem;
    color: white;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.7);
}