<div class="text-gray-200 flex item flex-col">
    <div>
        <div class="font-bold">{{starship?.name}}</div>
    </div>
    <div class="flex flex-wrap">
        <div class="w-1/2 p2">
            <div>Model: {{starship?.model}}</div>
            <div>Class: {{starship?.starship_class}}</div>
            <div>Manufacturer: {{starship?.manufacturer}}</div>
            <div>Cargo capacity: {{starship?.cargo_capacity}}</div>
            <div>Crew: {{starship?.crew}}</div>
        </div>
        <div class="w-1/2 p2">
            <div>Passengers: {{starship?.passengers}}</div>
            <div>Cost: {{starship?.cost_in_credits}} credits</div>
            <div>Length: {{starship?.length}}m</div>
            <div>Atmosferic speed: {{starship?.max_atmosphering_speed}}</div>
            <div>Hyperdrive rating: {{starship?.hyperdrive_rating}}</div>
        </div>
    </div>
</div>