<div class="flex starship-container">
    @if(selectedShip){
    <div class="starship-card my-5" [style.borderColor]="colorService.randomColor">
        <h2 class="ship-title">{{ selectedShip.name }}</h2>
        <app-starship-img [starshipId]="starshipId" [starship]="selectedShip!" />
        <div class="ship-details">
            <div class="column">
                <div><strong>Model:</strong> {{ selectedShip.model }}</div>
                <div><strong>Class:</strong> {{ selectedShip.starship_class }}</div>
                <div><strong>Manufacturer:</strong> {{ selectedShip.manufacturer }}</div>
                <div><strong>Cargo Capacity:</strong> {{ selectedShip.cargo_capacity }} kg</div>
                <div><strong>Crew:</strong> {{ selectedShip.crew }}</div>
            </div>
            <div class="column">
                <div><strong>Passengers:</strong> {{ selectedShip.passengers }}</div>
                <div><strong>Cost:</strong> {{ selectedShip.cost_in_credits }} credits</div>
                <div><strong>Length:</strong> {{ selectedShip.length }}m</div>
                <div><strong>Atmospheric Speed:</strong> {{ selectedShip.max_atmosphering_speed }} km/h</div>
                <div><strong>Hyperdrive Rating:</strong> {{ selectedShip.hyperdrive_rating }}</div>
            </div>
        </div>
        <button class="back-btn my-5" type="button" (click)="backBtn()"> ← Back </button>
    </div>
}
    @else{
    <div class="text-center">Loading starship details</div>
    }
    <div class="column">
        <app-pilots [pilots]="pilots"></app-pilots>
        <app-films [films]="films"></app-films>
    </div>
</div>