<div class="text-gray-200 flex item flex-col">
    <div>
        <div class="font-bold">{{selectedShip.name}}</div>
    </div>
    <app-starship-img [starshipId]="starshipId" [starship]="selectedShip"/>
    <div class="flex flex-wrap">
        <div class="w-1/2 p-2">
            <div>Model: {{selectedShip.model}}</div>
            <div>Class: {{selectedShip.starship_class}}</div>
            <div>Manufacturer: {{selectedShip.manufacturer}}</div>
            <div>Cargo capacity: {{selectedShip.cargo_capacity}} kg</div>
            <div>Crew: {{selectedShip.crew}}</div>
        </div>
        <div class="w-1/2 p-2">
            <div>Passengers: {{selectedShip.passengers}}</div>
            <div>Cost: {{selectedShip.cost_in_credits}} credits</div>
            <div>Length: {{selectedShip.length}}m</div>
            <div>Atmosferic speed: {{selectedShip.max_atmosphering_speed}} km/h</div>
            <div>Hyperdrive rating: {{selectedShip.hyperdrive_rating}}</div>
        </div>
        <button class="bg-rose-700 text-white font-bold py-2 px-4 rounded mt-4" type="button" 
        (click)="backBtn()"> ← </button>
    </div>
</div>