.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto; 
    padding: 20px;
}

.starship-image {
    max-width: 100%; 
    height: auto;
}