<div class="close-btn m-5 absolute right-0" (click)="backBtn()">
    <p class="p-1">X</p>
</div>
<div class="flex justify-center">
    <div class="container">
        <div class="flex justify-center">
            <img src="./assets/images/logo-white.png" alt="logo-white" class="w-48 h-18 my-10" />
        </div>
        <div class="signup-container">
            <h2 class="text-2xl font-bold">Sign Up</h2>
            <form>
                <p for="email" class="block">Email:</p>
                <input type="email" [(ngModel)]="email" id="email" name="email" required
                    class="border border-gray-300 rounded-md p-2 mt-2">
                <br><br>
                <p for="password" class="block">Password:</p>
                <input type="password" [(ngModel)]="password" id="password" name="password" required
                    class="border border-gray-300 rounded-md p-2 mt-2">
                <br><br>
                <button type="submit" (click)="signUp()"
                    class="bg-blue-500 text-white py-2 px-4 rounded">Register</button>
            </form>
        </div>
    </div>
</div>