<div class="films-container">
    <div class="films-bg my-5">
        <h2 class="film-title">Films</h2>
        <div class="film-details">
            @for(film of filmDetails; track film){
            <div class="film-card">
                <div class="mt-5">
                    <app-film-img [filmId]="extractId(film.url)" />
                    <div><strong>Episode {{film.episode_id}}</strong></div>
                    <div><strong>{{film.title}}</strong></div>
                    <div>{{film.director}}</div>
                    <div>{{film.release_date}}</div>
                </div>
            </div>
            }
        </div>
    </div>
</div>