.logout-container{
    background-color: white;
    border-radius: 30px;
    padding: 5%;
}

.container{
    height: 100%;
    width: 35%;
    justify-content: center;
    text-align: center;
    align-items: center;
    //padding: 5%;
}

.close-btn {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    color: black;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
}