<div class="close-btn m-5 absolute right-0" (click)="backBtn()">
    <p class="p-1">X</p>
</div>
<div class="flex justify-center">
    <div class="container">
        <div class="flex justify-center">
            <img src="./assets/images/logo-white.png" alt="logo-white" class="w-48 h-18 my-10" />
        </div>
        <div class="logout-container">
            <h2 class="text-2xl font-bold">Log Out</h2>
            <form>
                <br><br>
                <p class="block">Do you want to Log Out?</p>
                <br><br>
                <button type="button" (click)="logOut()" class="bg-blue-500 text-white py-2 px-4 rounded mx-2">Log Out</button>
                <button type="button" (click)="backBtn()" class="bg-blue-500 text-white py-2 px-4 rounded mx-2">Cancel</button>
            </form>
        </div>
    </div>
</div>