    <div class="wrapper">
        <div class="fade"></div>
        <div class="scroll-text">
            <h1>STAR WARS I</h1>
            <h1>TITLE</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam mollitia beatae, impedit, labore
                molestiae
                unde animi at quo enim tempore nesciunt. Aliquid laboriosam facere hic totam dolores exercitationem,
                vel,
                nobis earum eos recusandae deserunt culpa illum id? Voluptas, amet sit, excepturi accusantium fugit
                blanditiis vel aspernatur quidem laboriosam magnam est!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam mollitia beatae, impedit, labore
                molestiae
                unde animi at quo enim tempore nesciunt. Aliquid laboriosam facere hic totam dolores exercitationem,
                vel,
                nobis earum eos recusandae deserunt culpa illum id? Voluptas, amet sit, excepturi accusantium fugit
                blanditiis vel aspernatur quidem laboriosam magnam est!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam mollitia beatae, impedit, labore
                molestiae
                unde animi at quo enim tempore nesciunt. Aliquid laboriosam facere hic totam dolores exercitationem,
                vel,
                nobis earum eos recusandae deserunt culpa illum id? Voluptas, amet sit, excepturi accusantium fugit
                blanditiis vel aspernatur quidem laboriosam magnam est!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam mollitia beatae, impedit, labore
                molestiae
                unde animi at quo enim tempore nesciunt. Aliquid laboriosam facere hic totam dolores exercitationem,
                vel,
                nobis earum eos recusandae deserunt culpa illum id? Voluptas, amet sit, excepturi accusantium fugit
                blanditiis vel aspernatur quidem laboriosam magnam est!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam mollitia beatae, impedit, labore
                molestiae
                unde animi at quo enim tempore nesciunt. Aliquid laboriosam facere hic totam dolores exercitationem,
                vel,
                nobis earum eos recusandae deserunt culpa illum id? Voluptas, amet sit, excepturi accusantium fugit
                blanditiis vel aspernatur quidem laboriosam magnam est!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam mollitia beatae, impedit, labore
                molestiae
                unde animi at quo enim tempore nesciunt. Aliquid laboriosam facere hic totam dolores exercitationem,
                vel,
                nobis earum eos recusandae deserunt culpa illum id? Voluptas, amet sit, excepturi accusantium fugit
                blanditiis vel aspernatur quidem laboriosam magnam est!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam mollitia beatae, impedit, labore
                molestiae
                unde animi at quo enim tempore nesciunt. Aliquid laboriosam facere hic totam dolores exercitationem,
                vel,
                nobis earum eos recusandae deserunt culpa illum id? Voluptas, amet sit, excepturi accusantium fugit
                blanditiis vel aspernatur quidem laboriosam magnam est!</p>
        </div>
    </div>