<div class="wrapper">
    <div class="intro text-blue-600 text-6xl font-bold text-center my-60 z-20">
        A long time ago in a galaxy far, far away....
    </div>
    <div class="logo justify-center flex z-20">
        <img src="./assets/images/logo.png" alt="" class="mx-auto -my-70">
    </div>
    <div class="crawl-fade z-10"></div>
    <div class="crawl-text mx-auto">
        <h2 class="font-bold">{{episode.title}}</h2>
        <h1 class="font-bold uppercase xl:text-[120px]">{{episode.subtitle}}</h1>
        <p>{{episode.par}}</p>
        <p>{{episode.par2}}</p>
        <p>{{episode.par3}}</p>
    </div>
</div>